@model CodeBrosForum.Data.Models.Post

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsertBy" class="control-label"></label>
                <input asp-for="InsertBy" class="form-control" />
                <span asp-validation-for="InsertBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsertDate" class="control-label"></label>
                <input asp-for="InsertDate" class="form-control" />
                <span asp-validation-for="InsertDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LUB" class="control-label"></label>
                <input asp-for="LUB" class="form-control" />
                <span asp-validation-for="LUB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LUD" class="control-label"></label>
                <input asp-for="LUD" class="form-control" />
                <span asp-validation-for="LUD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LUN" class="control-label"></label>
                <input asp-for="LUN" class="form-control" />
                <span asp-validation-for="LUN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
